
.DS_Store
assets/.DS_Store
assets/js/.ipynb_checkpoints/main-checkpoint.js
assets/css/.ipynb_checkpoints/main-checkpoint.css
.ipynb_checkpoints/index-checkpoint.html
.ipynb_checkpoints/elements-checkpoint.html
.ipynb_checkpoints/dates-checkpoint.html
.ipynb_checkpoints/attend-checkpoint.html
.ipynb_checkpoints/program-checkpoint.html
.ipynb_checkpoints/contact-checkpoint.html
.ipynb_checkpoints/generic-checkpoint.html
.ipynb_checkpoints/conduct-checkpoint.html
.ipynb_checkpoints/schedule-checkpoint.html
.ipynb_checkpoints/schedule-checkpoint.html
.ipynb_checkpoints/schedule-checkpoint.html
